*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  background-color: var(--color-default);
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}
img{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
body{
  font: 1.6rem;
  margin: 0;
}
h1,h2,h3,h4,p, figure,ol,ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
  font-size: i;
  color: var(--color-primary);

}
a{
  text-decoration: none ;
  color: var(--color-primary);
}
button, input, select, option{
  background: none;
  border: 0;
}
:root{
  --color-header : #23252b;
  --color-default: #2f2f2f;
  --color-primary: #dadada;
  --color-secondary: #ffa500;
}
header .menu{
  box-shadow: 0 0 1rem var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.btn > a{
  font-size: 2rem;
}
.menu{
  text-align: center;
  background-color: var(--color-header);
  box-shadow: var(--color-secondary);

}
ul li figure figcaption{
  padding: 1rem;
  text-align: center;
}
ul .btn{
  list-style: none;
  display: inline-block;
  margin: 2rem;
}
.btn :hover{
  color: var(--color-secondary);
}

main{
  max-width: 120rem;
  margin: 9.0rem auto;
}

.grid-picture{
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
/* mobile */
@media screen and (max-width:70.0rem){
  main{
    padding-top: 9.0rem; /* 90px */
  }
  main, footer{
    margin: 0 auto;
    width: auto;
  }
  
 main section ul li figure img{
   display: block;
   width: 100%;
 }  
     
 .grid-picture li{
   border: solid .1rem #fff;
 }
 .grid-picture{

  grid-template-columns: repeat(2, 1fr);

}

}
@media screen and (orientation: landscape){
  
 .grid-picture{

  grid-template-columns: repeat(5, 1fr);

}

}