*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: var(--color-default);
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

body{
  font: 1.6rem;
  margin: 0;
}

main{
  max-width: 100rem;
  margin: 9.0rem auto;
}

h1,h2,h3,h4,p,figure,ol,ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
  font-size: i;
  color: var(--color-primary);
}

:root{
  --color-header : #23252b;
  --color-default: #2f2f2f;
  --color-primary: #dadada;
  --color-secondary: #ffa500;
}

img{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  object-fit: cover;
  
}

header .menu{
  box-shadow: 0 0 1rem var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.btn > a{
  font-size: 2rem;
}

button, input, select, option{
  background: none;
  border: 0;
}

.grid-picture{
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

li figcaption{
  padding: 0;
  margin-top: 1rem;
}
a{
  text-decoration: none ;
  color: var(--color-primary);
}

.menu{
  text-align: center;
  background-color: var(--color-header);
  box-shadow: var(--color-secondary);
}

ul .btn{
  list-style: none;
  display: inline-block;
  margin: 2rem;
}
.btn :hover{
  color: var(--color-secondary);
}
/*Formulaire*/ 
fieldset {
  border: none;
  margin: 2rem auto;
  padding: 2rem 0;
}
fieldset legend {
  display: block;
  margin: 0 auto;
  color: var(--white);
  text-shadow: var(--secondary) 0.25rem 0.25rem 0, var(--tertiare) 0.5rem 0.5rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
form label {
  display: block;
  padding: 1rem 0rem;
  color: var(--white);
  text-shadow: var(--secondary) 0.25rem 0.25rem 0rem;
  font-weight: bold;
  font-size: 2rem;
}
form * {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.9rem;
  text-transform: capitalize;
}
form input {
  display: block;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  color: #f0efef;
  background-color: #333;
  border: solid 0.2rem var(--default);
}
select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button, input, select {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: inherit;
}
form select {
  display: block;
  height: 100%;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  color: #cccccc;
  background-color: #333;
  border: solid 0.2rem var(--default);
}

/* mobile */
@media screen and (max-width:70.0rem){
  main{
    padding-top: 9.0rem; /* 90px */
  }
  main, footer{
    margin: 0 auto;
    width: auto;
  }
  
 main   ul li figure img{
   display: block;
   width: 100%;
 }  
     
 .grid-picture li{
   border: solid .1rem #fff;
 }
 .grid-picture{

  grid-template-columns: repeat(2, 1fr);

}

}
@media screen and (orientation: landscape){
  
 .grid-picture{

  grid-template-columns: repeat(5, 1fr);

}

}