html{
  font-size: 62.5%;
  background-color: var(--color-default);
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}
body{
  font: 1.6rem;
  margin: 0;
}
h1,h2,h3,h4,p, figure,ol,ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
  font-size: i;
  color: var(--color-primary);

}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none ;
  color: var(--color-primary);
}
button, input, select, option{
  background: none;
  border: 0;
}
:root{
  --color-header : #23252b;
  --color-default: #2f2f2f;
  --color-primary: #dadada;
  --color-secondary: #ffa500;
}
header .menu{
  box-shadow: 0 0 1rem var(--color-secondary);
  position: fixed;
  margin-bottom: rem;
  top: 0;
  left: 0;
  width: 100%;
}
.btn > a{
  font-size: 2rem;
}
.menu{
  text-align: center;
  background-color: var(--color-header);
  box-shadow: var(--color-secondary);

}
ul li.btn{
  list-style: none;
  display: inline-block;
  margin: 2rem;
}
.btn :hover{
  color: var(--color-secondary);
}

main{
  padding-top:10rem;
  max-width: 70%;
  margin: 0 auto;
}
figure > img{
  width: 131px; 
  height: 197px;
}
.grid-picture{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
