html{
  font-size: 62.5%;
  background-color: var(--color-default);
}
body{
  font: 1.6rem;
  margin: 0;
}
h1,h2,h3,h4,p, figure,ol,ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
  font-size: i;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none ;
  color: var(--color-primary);
}
button, input, select, option{
  background: none;
  border: 0;
}
:root{
  --color-header : #23252b;
  --color-default: #000;
  --color-primary: #dadada;
  --color-secondary: #ffa500;
}
header{
  box-shadow: 0 0 1rem var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.btn > a{
  font-size: 2rem;
}
.menu{
  text-align: center;
  background-color: var(--color-header);
  box-shadow: var(--color-secondary);

}

ul li.btn{
  list-style: none;
  display: inline-block;
  margin: 1rem;
}

.btn :hover{
  color: var(--color-secondary);
}

main{
  padding-top: 5rem;
}

.grid-picture{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}